<!DOCTYPE html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
    <link rel="stylesheet" href="static/style.css">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
  </head>
  <body>
    <h1>Register</h1>
    <form action="/newUser" method="post">
      <input name="email" id="email" type="text" value="ingrese email">           
      <input name="password" id="password" type="text" value="ingrese password">
      <button>Register</button>
    </form>                 
    <script src="static/app.js"></script>
  </body>
</html>